@model TestNetFrameworkMVC.Models.Student

<tr>
    <td>
        @Html.EditorFor(item => Model.LastName)
    </td>
    <td>
        @Html.EditorFor(item => Model.FirstMidName)
    </td>
    <td>
        @Html.EditorFor(item => Model.EnrollmentDate)
    </td>
</tr>
